[submodule "Kha"]
	path = Kha
	url = https://github.com/Kode/Kha.git
	branch = master
[submodule "Libraries/Khajak"]
	path = Libraries/Khajak
	url = https://github.com/Kha-Samples/Khajak
	branch = master
[submodule "Libraries/haxebullet"]
	path = Libraries/haxebullet
	url = https://github.com/Kha-Samples/haxebullet
	branch = master
