[submodule "Kha"]
	path = Kha
	url = ../Kha
	branch = master
[submodule "Libraries/Khajak"]
	path = Libraries/Khajak
	url = ../Khajak
	branch = master
[submodule "Libraries/haxebullet"]
	path = Libraries/haxebullet
	url = ../haxebullet
	branch = master
